body {
  margin: 0;
  margin: 0 100px 0 100px;
  background-color: burlywood;
}

label {
  font-weight: bolder;
}

.centralize {
  margin: auto;
  text-align: center;
}

.form {
  padding-left: 10vw;
  width: 500px;
}

.form input {
  margin-bottom: 10px;
  width: 100%;
  height: 30px;
}

#send {
  width: 200px;
  height: 50px;
  margin-top: 10px;
}